<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container-fluid">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Welcome to Recipe Share</h1>
  </div>
  <div>
    <div class=userOptions>
        <a href='/auth/signup'> New User Signup</a>
        <a href='/auth/login'> Existing User Login</a>
        <br>
        <a href='/recipes'>Recipe Index</a>
    <div>  
  </div>
</main>
<footer>
</footer>

</body>
</html>