<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container-fluid">
		<header><%- include('../partials/header'); %></header>
		<main>
			<div class="jumbotron">
				<h1>User Login</h1>
			</div>
			<div>
				<form action="/auth/login" method="POST">
					Username: <input type="text" name="username" /><br /><br />
					Password: <input type="text" name="password" /><br /><br />
					<input type="submit" value="Log In" />
				</form>
			</div>
			<div>
				<p>Don't have an account?</p>
				<a href="/auth/signup">Sign Up Here</a>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
