<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container-fluid">
		<header><%- include('../partials/header'); %></header>

		<main>
			<div class="jumbotron">
				<h1>Add a new recipe to Recipe Share</h1>
			</div>
			<form action="/recipes/new" method="POST">
				Recipe Name:
				<input type="text" name="name" value="" />
				<br />
				Link to Dish Image:
				<input type="text" name="img" value="" />
				<br />
        Cuisine:
				<input type="text" name="cuisine" value="" />
        <br>
				<br />
				<h3>Ingredients:</h3>
				<br />
				<span style="font-style: italic" style="margin-top: 0px"
				  >Please press <kbd>Enter</kbd> after each ingredient (except last)<br /></span
				><br />
				<textarea rows="10" cols="60" name="ingredients"></textarea>
				<br />
				<br/>
				<h3>Instructions:</h3>
				<br />
				<span style="font-style: italic" style="margin-top: 0px"
					>Please press <kbd>Enter</kbd> after each instruction step.(except last)<br />
					Instructions will be automatically numbered on recipe display</span
				><br />
				<textarea rows="10" cols="60" name="instructions"> </textarea>
				<br />
				<input type="submit" value="Create Recipe" />
			</form>
		</main>

		<footer></footer>
	</body>
</html>
